<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LxWorkList.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="LxWorkList.Properties.Settings.SolidOrganDBTest" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Temp\SolidOrgan.mdb"
            providerName="System.Data.OleDb" />
        <add name="LxWorkList.Properties.Settings.SolidOrganDBLive" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;\\OXNETFS02\RenalDir\Renal\Departmental\Transplant Immunology\TTSSPD\AIFILES\SolidOrgan.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="LxWorkList.Properties.Settings.RenalSytemDBF" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=\\OXNETFS02\RenalDir\Renal\Departmental\Transplant Immunology\FoxPro\;Extended Properties=dBASE IV;User ID=Admin;" />
        <add name="LxWorkList.Properties.Settings.RenalSystemDBFlocal"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=c:\temp\renal;User ID=Admin;Extended Properties=&quot;dBASE IV&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <LxWorkList.Properties.Settings>
            <setting name="LiveWorkListPath" serializeAs="String">
                <value>\\OXNETFS02\RenalDir\Renal\Departmental\Transplant Immunology\TTSSPD\Luminex\Patient lists\</value>
            </setting>
        </LxWorkList.Properties.Settings>
    </applicationSettings>
</configuration>