<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LxWorkList.Properties.Settings.SolidOrganDBTest" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Temp\SolidOrgan.mdb"
            providerName="System.Data.OleDb" />
        <add name="LxWorkList.Properties.Settings.SolidOrganDBLive" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;\\OXNETFS02\RenalDir\Renal\Departmental\Transplant Immunology\TTSSPD\AIFILES\SolidOrgan.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="LxWorkList.Properties.Settings.RenalSytemDBF" connectionString="Provider=vfpoledb;Data Source=C:\renal\;Collating Sequence=general;" />
        <add name="LxWorkList.Properties.Settings.RenalSystemDBFlocal"
            connectionString="Provider=vfpoledb;Data Source=C:\temp\renal\;Collating Sequence=general;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>